**/build/
**/node_modules/
**/.gradle/
**/.idea/
**/logs/
**/*.log
**/.DS_Store
**/mobile/
**/.git/
**/docs/
**/.vscode/
**/.env
**/*.md
**/aws/
docker-compose.yml
docker-compose*.yml
render.yaml
*.sh
!**/gradlew
!**/gradlew.bat

